@page "/mouse"
@using Npgg.KeyboardMouseInvoker
@inherits MouseComponent
<table>
    <tr>
        <td><button class="btn btn-primary btn-lg" @onclick="()=>SetMove(-distance, -distance)">↖</button></td>
        <td><button class="btn btn-primary btn-lg" @onclick="()=>SetMove(0,-distance)">↑</button></td>
        <td><button class="btn btn-primary btn-lg" @onclick="()=>SetMove(distance, -distance)">↗</button></td>
    </tr>
    <tr>
        <td><button class="btn btn-primary btn-lg" @onclick="()=>SetMove(-distance,0)">←</button></td>
        <td><button class="btn btn-primary btn-lg" @onclick="()=>ClearMove()">◈</button></td>
        <td><button class="btn btn-primary btn-lg" @onclick="()=>SetMove(distance,0)">→</button></td>
    </tr>
    <tr>
        <td><button class="btn btn-primary btn-lg" @onclick="()=>SetMove(-distance,distance)">↙</button></td>
        <td><button class="btn btn-primary btn-lg" @onclick="()=>SetMove(0,distance)">↓</button></td>
        <td><button class="btn btn-primary btn-lg" @onclick="()=>SetMove(distance,distance)">↘</button></td>
    </tr>
</table>



<div class="btn-group btn-group-justified">
    <button class="btn btn-primary btn-lg" @onclick="LeftClick">Left</button>
    <button class="btn btn-primary btn-lg" @onclick="RightClick">Right</button>
</div>

