@page "/mouse"
@using Npgg.KeyboardMouseInvoker
@inherits MouseComponent

<img style="width:100%; height:480px; background-color:orangered" 
@ontouchstart="@Mouse_Down" @ontouchend="@Mouse_Up" @ontouchmove="@Mouse_Move" />

<div class="btn-group btn-group-justified">
    <button class="btn btn-primary btn-lg" @onclick="LeftClick">Left</button>
    <button class="btn btn-primary btn-lg" @onclick="RightClick">Right</button>
</div>

@*<input @bind="@text"/>*@

<br/>