@page "/counter"
@using Npgg.KeyboardMouseInvoker 

<h1>Counter</h1>

<p>Current count: @currentCount</p>

@foreach(var keycode in new KeyboardKeys[] { KeyboardKeys.Space , KeyboardKeys.Return , KeyboardKeys.LeftWindows})
{
    <button class="btn btn-primary" @onclick="()=>KeyBoardInput(KeyboardKeys.Space)">@keycode</button>

}





@code {

    public async Task KeyBoardInput(KeyboardKeys key) =>  await Keyboard.KeyPress(25, key);

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
