@page "/"
@using Npgg.KeyboardMouseInvoker

<h1>Remocon</h1>

@foreach (var keycode in new KeyboardKeys[] { KeyboardKeys.Space, KeyboardKeys.Return, KeyboardKeys.LeftWindows })
{
    <button class="btn btn-primary" @onclick="()=>KeyBoardInput(keycode)">@keycode</button>
}

@code {
    public async Task KeyBoardInput(KeyboardKeys key) => await Keyboard.KeyPress(25, key);
}
