@page "/off"
@using Npgg.KeyboardMouseInvoker 


@foreach(var keycode in new KeyboardKeys[] { KeyboardKeys.Space , KeyboardKeys.Return , KeyboardKeys.LeftWindows})
{
    <button class="btn btn-primary" @onclick="this.Shutdown">당장끄기</button>
}

@code {

    public async Task KeyBoardInput(KeyboardKeys key) =>  await Keyboard.KeyPress(25, key);

    async Task Shutdown()
    {
        await Keyboard.MultiKeyPress(15, KeyboardKeys.LeftWindows, KeyboardKeys.X);
        await Keyboard.KeyPress(15, KeyboardKeys.U, KeyboardKeys.U);
    }
}
